*{
    margin: 0px;
    padding: 0px;
}

h2{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,a{
    font-size: 30px;
    font-weight: 100;
}

body{
    width: 1000px;
    background-color: rgb(159, 180, 236);
    margin: 0 auto;
}

.contenedor{
    background-color: beige;
    padding: 20px 40px;
}

.contenedor *{
    border-radius: 9px;
    margin-bottom: 20px;
}

header{
    background-color: #F6A6FF;
    height: 150px;
    text-align: center;
    margin-top: 5px;
}
nav{
    background-color: #D5AAFF;
    height: 80px;
    width: 800px;
    float: right;
    margin-right: 20px;
    padding: 5px;
}

nav ul{
   
    padding-bottom: 10px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li{
    text-decoration: none;
}


.centro{
    display: flex;
}

main{
    background-color: #85E3FF;
    width: 70%;
    margin-right: 20px;
}

main section{
    height: 100px;
    background-color: #FFCBC1;
}

article{
    background-color: #C4FAF8;
}

aside{
    background-color: rgb(110, 206, 169);
    width: 30%;
}

aside section{
    background-color: rgb(165, 127, 201);
}

#vale{
    width:90%;
    height: 90%;
    margin-bottom: 1px;
}

#info_personal{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


#segundo{
    height: 300px;
}

.centro *{
    padding: 10px;
}

footer{
    background-color: rgb(217, 122, 239);
    height: 90px;
    padding-top: 5%;
    text-align: center;
}


@media only screen and (min-width:0px) and (max-width:999px){
    h1{
        font-size:28px ;
    }
    h2{
        font-size: 22px;
    }
    body, header, .centro, footer{
        width: auto;
    }

    .centro{
        display: block;
    }

    main,aside{
        width:auto;
        margin-right: 0;

    }

    nav{
        width: 500px;
    }

    nav ul{
        padding-bottom: 10px;
        display: flex;
        list-style: none;
        justify-content: space-between;
    }
    aside section{

        display: flow-root;
        width: auto;
    }
    #vale{
        display:flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1px;
    }
    #segundo{
        height: auto;
    }
    a{
        font-size: 20px;
    }
}


@media only screen and (max-width:635px){
  
    .contenedor{
        padding: 0px;
    }

    h1{
        font-size: 40px;
    }

    header{
        height: auto;
        overflow: hidden;
        padding-left: 0px;
        padding-right: 0px;
    }

    nav{
        display: block;
        float: none;
        height: auto;
        width: auto;
        padding-right: 10px;
        padding-left: 10px;
    }

    nav ul{
        display: block;
    }

    nav ul li{
       background-color:#FFF5BA;
       border-radius: 0px;
       display: block;
       margin-bottom: 2px;
       text-align: center;
    }
    section{
        padding-left: 40px;

    }

    #vale{
        width:90%;
        height: 90%;
        margin-bottom: 1px;
    }

    #segundo{
        padding-left: 40px;
    }

    #info_personal{
        font-size: 35px;
    }
}